DATABASE_ADMIN_URL=postgres://postgres:CHANGE_ME@localhost:5432/postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=evehydrofarm
DB_TEST_NAME=evehydrofarm_test
DB_OWNER_PASSWORD=dev_owner_change_me
DB_API_PASSWORD=dev_api_change_me
DB_MONITORING_PASSWORD=dev_monitoring_change_me
DB_READONLY_PASSWORD=dev_readonly_change_me
API_PORT=4000
API_PUBLIC_URL=http://localhost:4000
API_JWT_PRIVATE_KEY=
API_JWT_PUBLIC_KEY=
API_STORAGE_DIR=
WEB_PORT=3000
WEB_API_URL=http://localhost:4000
MONITORING_PORT=3100
MONITORING_API_URL=http://localhost:4000
SEED_ADMIN_PASSWORD=admin-dev-12345
